<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script async="true" defer="true"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAibUlW-4M2jTfdoyvEQ4tP9DfVP_pJkME&amp;libraries=visualization&amp;callback=initMap"> </script>

<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#mapTemp, #mapPH, #mapUA, #mapUS {
	height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
</style>


<title>Dados da cultura</title>

</head>
<body>



	<div id="container"></div>
	<div id="grad1"
		style="text-align: center; margin: auto; color: #030303; font-size: 30px; font-weight: 550; padding-top: 105px;">
		Temperatura</div>
	<div id="mapTemp"></div>
	<div id="grad1"
		style="text-align: center; margin: auto; color: #030303; font-size: 30px; font-weight: 550; padding-top: 105px;">
		pH</div>
	<div id="mapPH"></div>
	<div id="grad1"
		style="text-align: center; margin: auto; color: #030303; font-size: 30px; font-weight: 550; padding-top: 105px;">
		Umidade do Ar</div>
	<div id="mapUA"></div>
	<div id="grad1"
		style="text-align: center; margin: auto; color: #030303; font-size: 30px; font-weight: 550; padding-top: 105px;">
		Umidade do Solo</div>
	<div id="mapUS"></div>


	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<br></br>
	<br></br>
	<table>
		<tr>
			<th>Temperatura</th>
			<th>pH</th>
			<th>Umidade do Solo</th>
			<th>Umidade do Ar</th>
			<th>Alerta de incendio</th>

		</tr>
		<tr th:each="lista : ${list}">
			<td th:text="${lista.vlTemperatura}"></td>
			<td th:text="${lista.vlPh}"></td>
			<td th:text="${lista.umidadeSolo}"></td>
			<td th:text="${lista.umidadeAr}"></td>
			<td th:text="${lista.ieIncendio}"></td>
		</tr>
	</table>

	<script th:inline="javascript">
/*<![CDATA[*/

var list = [[${list}]];
var mediaDia0 = [[${mediaHoje}]];
var mediaDia1 = [[${media1}]]; // 1 dia atrás
var mediaDia2 = [[${media2}]]; // 2 dias atrás
var mediaDia3 = [[${media3}]]; // 3 dias atrás
var mediaDia4 = [[${media4}]]; // 4 dias atrás
var mediaDia5 = [[${media5}]]; // 5 dias atrás
var mediaDia6 = [[${media6}]]; // 6 dias atrás

list.forEach(function(entry) {
    console.log(entry);
});

Highcharts.chart('container', {

    title: {
        text: 'Média diária dos dados coletados'
    },

    subtitle: {
        text: 'Fonte: NodeMCU'
    },
    xAxis: {
        categories: [
        	moment().subtract(6, 'd').format('dddd'), 
        	moment().subtract(5, 'd').format('dddd'), 
        	moment().subtract(4, 'd').format('dddd'), 
        	moment().subtract(3, 'd').format('dddd'), 
        	moment().subtract(2, 'd').format('dddd'), 
        	moment().subtract(1, 'd').format('dddd'),
        	'Today'
        	],
        title: {
            text: null
        }
    },

    yAxis: {
        title: {
            text: 'Valores'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    series: [{
        name: 'pH',
        data: [mediaDia6[0] ? mediaDia6[0].vlPh : mediaDia6[0], 
        		mediaDia5[0] ? mediaDia5[0].vlPh : mediaDia5[0],
            	mediaDia4[0] ? mediaDia4[0].vlPh : mediaDia4[0],
            	mediaDia3[0] ? mediaDia3[0].vlPh : mediaDia3[0],
            	mediaDia2[0] ? mediaDia2[0].vlPh : mediaDia2[0],
            	mediaDia1[0] ? mediaDia1[0].vlPh : mediaDia1[0],
            			mediaDia0[0] ? mediaDia0[0].vlPh : mediaDia0[0]]
    }, {
        name: 'Temperatura',
        data: [mediaDia6[0] ? mediaDia6[0].vlTemperatura : mediaDia6[0], 
        		mediaDia5[0] ? mediaDia5[0].vlTemperatura : mediaDia5[0],
                mediaDia4[0] ? mediaDia4[0].vlTemperatura : mediaDia4[0],
                mediaDia3[0] ? mediaDia3[0].vlTemperatura : mediaDia3[0],
                mediaDia2[0] ? mediaDia2[0].vlTemperatura : mediaDia2[0],
                mediaDia1[0] ? mediaDia1[0].vlTemperatura : mediaDia1[0],
                		mediaDia0[0] ? mediaDia0[0].vlTemperatura : mediaDia0[0]]
    }, {
        name: 'Umidade do Ar',
        data: [mediaDia6[0] ? mediaDia6[0].umidadeAr : mediaDia6[0], 
        		mediaDia5[0] ? mediaDia5[0].umidadeAr : mediaDia5[0],
                mediaDia4[0] ? mediaDia4[0].umidadeAr : mediaDia4[0],
                mediaDia3[0] ? mediaDia3[0].umidadeAr : mediaDia3[0],
                mediaDia2[0] ? mediaDia2[0].umidadeAr : mediaDia2[0],
                mediaDia1[0] ? mediaDia1[0].umidadeAr : mediaDia1[0],
                		mediaDia0[0] ? mediaDia0[0].umidadeAr : mediaDia0[0]]
    }, {
        name: 'Umidade do Solo',
        data: [mediaDia6[0] ? mediaDia6[0].umidadeSolo : mediaDia6[0], 
        		mediaDia5[0] ? mediaDia5[0].umidadeSolo : mediaDia5[0],
                mediaDia4[0] ? mediaDia4[0].umidadeSolo : mediaDia4[0],
                mediaDia3[0] ? mediaDia3[0].umidadeSolo : mediaDia3[0],
                mediaDia2[0] ? mediaDia2[0].umidadeSolo : mediaDia2[0],
                mediaDia1[0] ? mediaDia1[0].umidadeSolo : mediaDia1[0],
                		mediaDia0[0] ? mediaDia0[0].umidadeSolo : mediaDia0[0]]
    }]

});
     

var map, heatmap, gradient;

function initMapTemp() {
	map = new google.maps.Map(document.getElementById('mapTemp'), {
    zoom: 15,
    center: {lat: -26.907390, lng: -49.086807},
    mapTypeId: 'satellite'
  });

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    map: map
  });
  
  heatmap.set('radius', heatmap.get('radius') ? null : 30);
  
  initMapPh()
}

function initMapPh() {
	map = new google.maps.Map(document.getElementById('mapPH'), {
	    zoom: 15,
	    center: {lat: -26.907390, lng: -49.086807},
	    mapTypeId: 'satellite'
	  });

	  heatmap = new google.maps.visualization.HeatmapLayer({
	    data: getPoints(),
	    map: map
	});
   gradient = [
	    'rgba(0, 255, 255, 0)',
	    'rgba(0, 255, 255, 1)',
	    'rgba(0, 191, 255, 1)',
	    'rgba(0, 127, 255, 1)',
	    'rgba(0, 63, 255, 1)',
	    'rgba(0, 0, 255, 1)',
	    'rgba(0, 0, 223, 1)',
	    'rgba(0, 0, 191, 1)',
	    'rgba(0, 0, 159, 1)',
	    'rgba(0, 0, 127, 1)',
	    'rgba(63, 0, 91, 1)',
	    'rgba(127, 0, 63, 1)',
	    'rgba(191, 0, 31, 1)',
	    'rgba(255, 0, 0, 1)'
	  ]
	  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient)
	  heatmap.set('radius', heatmap.get('radius') ? null : 30);
	  
	initMapUA()
}

function initMapUA() {
	map = new google.maps.Map(document.getElementById('mapUA'), {
	    zoom: 15,
	    center: {lat: -26.907390, lng: -49.086807},
	    mapTypeId: 'satellite'
	  });

	  heatmap = new google.maps.visualization.HeatmapLayer({
	    data: getPoints(),
	    map: map
	});
   gradient = [
	    'rgba(0, 255, 255, 0)',
	    'rgba(0, 255, 255, 1)',
	    'rgba(0, 170, 255, 1)',
	    'rgba(0, 50, 255, 1)',
	    'rgba(0, 50, 255, 1)',
	    'rgba(0, 0, 30, 1)',
	    'rgba(0, 0, 20, 1)',
	    'rgba(2, 0, 20, 1)',
	    'rgba(2, 0, 50, 1)',
	    'rgba(0, 0, 120, 1)',
	    'rgba(63, 0, 91, 1)',
	    'rgba(40, 255, 63, 1)',
	    'rgba(170, 2, 31, 1)',
	    'rgba(10, 50, 0, 1)'
	  ]
	  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient)
	  heatmap.set('radius', heatmap.get('radius') ? null : 30);
	  
	  initMapUS()
}

function initMapUS() {
	map = new google.maps.Map(document.getElementById('mapUS'), {
	    zoom: 15,
	    center: {lat: -26.907390, lng: -49.086807},
	    mapTypeId: 'satellite'
	  });

	  heatmap = new google.maps.visualization.HeatmapLayer({
	    data: getPoints(),
	    map: map
	});
   gradient = [
	    'rgba(225, 225, 51, 0)',
	    'rgba(0, 120, 120, 1)',
	    'rgba(0, 50, 120, 1)',
	    'rgba(0, 10, 120, 1)',
	    'rgba(0, 10, 120, 1)',
	    'rgba(63, 225, 91, 1)',
	    'rgba(40, 225, 63, 1)',
	    'rgba(255, 225, 31, 1)',
	    'rgba(255, 225, 0, 1)'
	  ]
	  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient)
	  heatmap.set('radius', heatmap.get('radius') ? null : 30);
}

function getPoints() {
  return [
    new google.maps.LatLng(-26.906113, -49.087635),
    new google.maps.LatLng(-26.906499, -49.087414),
    new google.maps.LatLng(-26.906848, -49.087280),
    new google.maps.LatLng(-26.907164, -49.087167),
    new google.maps.LatLng(-26.907346, -49.087038),
    new google.maps.LatLng(-26.907672, -49.086844),
    new google.maps.LatLng(-26.907825, -49.087228),
    new google.maps.LatLng(-26.907564, -49.087440),
    new google.maps.LatLng(-26.907302, -49.087589),
    new google.maps.LatLng(-26.907069, -49.087710),
    new google.maps.LatLng(-26.906747, -49.087868),
    new google.maps.LatLng(-26.906337, -49.088076),
    new google.maps.LatLng(-26.906473, -49.088500),
    new google.maps.LatLng(-26.906779, -49.088342),
    new google.maps.LatLng(-26.907121, -49.088153),
    new google.maps.LatLng(-26.907443, -49.088004),
    new google.maps.LatLng(-26.907741, -49.087837),
  ];
}
/*]]>*/
</script>


</body>
</html>